

html{
  background-color:  #FFFFFF;

}
.char1{
  color: #81F7BE;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  font-size: 2.5em;

  }
.char2{
  color: #82FA58;
  font-family: 'Indie Flower', cursive;
  justify-content: center;
  font-size: 2em;
}
.char3{
  color: #8181F7;
  font-family: 'Playfair Display', serif;
  justify-content: center;
  font-size: 3em;
}
.char4{
  color: #819FF7;
  font-family: 'Indie Flower', cursive;
  justify-content: center;
  font-size: 2em;
}
.char5{
  color: #5882FA;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  font-size: 2em;
}

.char6{
  color: #D8D8D8;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  font-size: 1.5em;
}

.char7{
  color: #A9D0F5;
  font-family: 'Indie Flower', cursive;
  justify-content: center;
  font-size: 2em;
}

.char8{
  color: #A4A4A4;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  font-size: 2.8em;
}

.char9{
  color: #A4A4A4;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  font-size: 3em;
}

header {
  font-family: 'Playfair Display', serif;
  background-color: rgb(0, 0, 255);
  background-image: url('image-background/back.jpg');
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  color: #0B3B39;;
}


h2{
font-family: 'Bellefair', serif;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;

}

p{
  color: #0B3B39;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;

}



.header-content-block{
  background-color: #0B2F3A;
  opacity: 0.5;
  padding: 50px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 70px;



}

.header-content-block h1{
  opacity:1;
  color: #0B2F3A;
  justify-content: center;
  display: flex;
  font-size: 4em;
  margin-top:0.1em;
margin-left:0;
margin-right:0;
margin-bottom:0;

}
.header-content-block p{
  opacity:1;
  color: #fff;
  justify-content: center;
  font-size: 1.5em;
  display: flex;
  margin-top:0.1em;
margin-left:0;
margin-right:0;
margin-bottom:0;

}
#bio p{
  margin: 1em;
}



#comp{
  background-color: #088A85;
  color: #fff;

}

.comp-section-content{
  display: flex;
  justify-content: space-around;
  width: auto;


}

.comp-content{
  margin: 20px;
  width: auto;
  background-color: #0B3B39;
  justify-content: space-around;
  align-items: center;


}

.comp-content p{
padding: 1em;


}

.comp-content h2{
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;


}

.comp-content img{
  width:100%;

}

.comp-content a{
  display: block;
  padding: 1em;
  float: right;
  color: #fff;
}

.portfolio-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-content-item{
  margin: 20px;
  width: auto;
}
#bio h1{
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#comp h1{
font-family: 'Playfair Display', serif;
font-size: 3em;
padding: 20px;
display: flex;
justify-content: center;
}

#portfolio h1{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    padding: 20px;
    display: flex;
    justify-content: center;


}
.address{
  padding: 10px;
}
.social-links{
  padding: 10px;
}
li{
  color: #fff;
  font-family: 'Playfair Display', serif;
}
span{
  color: #fff;
font-family: 'Playfair Display', serif;

}
footer{
  background-color: #0B3B39;
}
